flagged/
gromacs-env/
gmx-mmpbsa-env/
models/
data/
static/
__pycache__/
.vs/

*.log
*.gro
*.csv
*.pdb
*.mol
*.mol2
*.xyz
*.html
*.top
*.itp
*.itp*
*.mdp
*.tpr
*.cpt
*.edr
*.trr
*.xtc
*.npz
*.txt
*.xvg
*.ndx
*.dat
*.xpm

CLAUDE.md
